In [60]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*
spark = SparkSession.builder.appName('practise').getOrCreate()
df_pyspark = spark.read.csv('py_details.csv', header=True, inferSchema=True)
df_pyspark.show()

+----------+----+----------+------+
|      Name| age|experience|salary|
+----------+----+----------+------+
|     krish|  34|        10| 30000|
|sudharshan|  15|         8| 25000|
|     suuny|  25|         4| 20000|
|      paul|  58|         1| 15000|
|    harsha|  55|         5| 18100|
|      null|  23|         2| 40000|
|    mahesh|null|      null| 40000|
|      null|  34|        10|380000|
|      null|  36|      null|  null|
+----------+----+----------+------+

In [61]:
df_pyspark.show()

+----------+----+----------+------+
|      Name| age|experience|salary|
+----------+----+----------+------+
|     krish|  34|        10| 30000|
|sudharshan|  15|         8| 25000|
|     suuny|  25|         4| 20000|
|      paul|  58|         1| 15000|
|    harsha|  55|         5| 18100|
|      null|  23|         2| 40000|
|    mahesh|null|      null| 40000|
|      null|  34|        10|380000|
|      null|  36|      null|  null|
+----------+----+----------+------+

In [62]:
df_pyspark.select('age','name','salary').show()

+----+----------+------+
| age|      name|salary|
+----+----------+------+
|  34|     krish| 30000|
|  15|sudharshan| 25000|
|  25|     suuny| 20000|
|  58|      paul| 15000|
|  55|    harsha| 18100|
|  23|      null| 40000|
|null|    mahesh| 40000|
|  34|      null|380000|
|  36|      null|  null|
+----+----------+------+

In [63]:
df_pyspark.na.drop().show()

+----------+---+----------+------+
|      Name|age|experience|salary|
+----------+---+----------+------+
|     krish| 34|        10| 30000|
|sudharshan| 15|         8| 25000|
|     suuny| 25|         4| 20000|
|      paul| 58|         1| 15000|
|    harsha| 55|         5| 18100|
+----------+---+----------+------+

In [64]:
df_pyspark.withColumn('experience after two yrs',df_pyspark['experience']+2).show()

+----------+----+----------+------+------------------------+
|      Name| age|experience|salary|experience after two yrs|
+----------+----+----------+------+------------------------+
|     krish|  34|        10| 30000|                      12|
|sudharshan|  15|         8| 25000|                      10|
|     suuny|  25|         4| 20000|                       6|
|      paul|  58|         1| 15000|                       3|
|    harsha|  55|         5| 18100|                       7|
|      null|  23|         2| 40000|                       4|
|    mahesh|null|      null| 40000|                    null|
|      null|  34|        10|380000|                      12|
|      null|  36|      null|  null|                    null|
+----------+----+----------+------+------------------------+

In [65]:
df_pyspark.drop('age').show()

+----------+----------+------+
|      Name|experience|salary|
+----------+----------+------+
|     krish|        10| 30000|
|sudharshan|         8| 25000|
|     suuny|         4| 20000|
|      paul|         1| 15000|
|    harsha|         5| 18100|
|      null|         2| 40000|
|    mahesh|      null| 40000|
|      null|        10|380000|
|      null|      null|  null|
+----------+----------+------+

In [66]:
##renaming the column
df_pyspark.withColumnRenamed('age','age_new').show()

+----------+-------+----------+------+
|      Name|age_new|experience|salary|
+----------+-------+----------+------+
|     krish|     34|        10| 30000|
|sudharshan|     15|         8| 25000|
|     suuny|     25|         4| 20000|
|      paul|     58|         1| 15000|
|    harsha|     55|         5| 18100|
|      null|     23|         2| 40000|
|    mahesh|   null|      null| 40000|
|      null|     34|        10|380000|
|      null|     36|      null|  null|
+----------+-------+----------+------+

In [67]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practise2').getOrCreate()

In [68]:
df_pyspark= spark.read.csv('py_details.csv',header=True,inferSchema=True)
df_pyspark.show()

+----------+----+----------+------+
|      Name| age|experience|salary|
+----------+----+----------+------+
|     krish|  34|        10| 30000|
|sudharshan|  15|         8| 25000|
|     suuny|  25|         4| 20000|
|      paul|  58|         1| 15000|
|    harsha|  55|         5| 18100|
|      null|  23|         2| 40000|
|    mahesh|null|      null| 40000|
|      null|  34|        10|380000|
|      null|  36|      null|  null|
+----------+----+----------+------+

In [69]:
##how is any
df_pyspark.na.drop().show()

+----------+---+----------+------+
|      Name|age|experience|salary|
+----------+---+----------+------+
|     krish| 34|        10| 30000|
|sudharshan| 15|         8| 25000|
|     suuny| 25|         4| 20000|
|      paul| 58|         1| 15000|
|    harsha| 55|         5| 18100|
+----------+---+----------+------+

In [70]:
## threshlold
df_pyspark.na.drop(thresh=2).show()

+----------+----+----------+------+
|      Name| age|experience|salary|
+----------+----+----------+------+
|     krish|  34|        10| 30000|
|sudharshan|  15|         8| 25000|
|     suuny|  25|         4| 20000|
|      paul|  58|         1| 15000|
|    harsha|  55|         5| 18100|
|      null|  23|         2| 40000|
|    mahesh|null|      null| 40000|
|      null|  34|        10|380000|
+----------+----+----------+------+

In [71]:
##subset
df_pyspark.na.drop(how='any',subset=['salary']).show()

+----------+----+----------+------+
|      Name| age|experience|salary|
+----------+----+----------+------+
|     krish|  34|        10| 30000|
|sudharshan|  15|         8| 25000|
|     suuny|  25|         4| 20000|
|      paul|  58|         1| 15000|
|    harsha|  55|         5| 18100|
|      null|  23|         2| 40000|
|    mahesh|null|      null| 40000|
|      null|  34|        10|380000|
+----------+----+----------+------+

In [79]:
df_pyspark.na.fill('missing values','salary').show()

+----------+----+----------+------+
|      Name| age|experience|salary|
+----------+----+----------+------+
|     krish|  34|        10| 30000|
|sudharshan|  15|         8| 25000|
|     suuny|  25|         4| 20000|
|      paul|  58|         1| 15000|
|    harsha|  55|         5| 18100|
|      null|  23|         2| 40000|
|    mahesh|null|      null| 40000|
|      null|  34|        10|380000|
|      null|  36|      null|  null|
+----------+----+----------+------+

In [80]:
df_pyspark.show()

+----------+----+----------+------+
|      Name| age|experience|salary|
+----------+----+----------+------+
|     krish|  34|        10| 30000|
|sudharshan|  15|         8| 25000|
|     suuny|  25|         4| 20000|
|      paul|  58|         1| 15000|
|    harsha|  55|         5| 18100|
|      null|  23|         2| 40000|
|    mahesh|null|      null| 40000|
|      null|  34|        10|380000|
|      null|  36|      null|  null|
+----------+----+----------+------+

In [91]:
from pyspark.ml.feature import Imputer
Imputer=Imputer(
    inputCols=['age','experience','salary'],
    outputCols=['{}_imput'.format(c) for c in ['age','experience','salary']]
).setStrategy('median')

In [92]:
Imputer.fit(df_pyspark).transform(df_pyspark).show()

+----------+----+----------+------+---------+----------------+------------+
|      Name| age|experience|salary|age_imput|experience_imput|salary_imput|
+----------+----+----------+------+---------+----------------+------------+
|     krish|  34|        10| 30000|       34|              10|       30000|
|sudharshan|  15|         8| 25000|       15|               8|       25000|
|     suuny|  25|         4| 20000|       25|               4|       20000|
|      paul|  58|         1| 15000|       58|               1|       15000|
|    harsha|  55|         5| 18100|       55|               5|       18100|
|      null|  23|         2| 40000|       23|               2|       40000|
|    mahesh|null|      null| 40000|       34|               5|       40000|
|      null|  34|        10|380000|       34|              10|      380000|
|      null|  36|      null|  null|       36|               5|       25000|
+----------+----+----------+------+---------+----------------+------------+

In [114]:
##filter operation
df_pyspark.filter(~(df_pyspark["salary"]>=20000)).select('name','age').show()

+------+---+
|  name|age|
+------+---+
|  paul| 58|
|harsha| 55|
+------+---+